.post banner{
 width:30px;
 height:70px;
 }
.add_form{
margin: 0 auto;
margin-top: 100px;
margin-bottom: 100px;

}

.post_banner1{
 width:150%;
 height:300px;
 }
.edit-profile{
 margin-left:100px;
 }

.lnr lnr-menu{
margin-left:1000px;
}

.allstacks{
margin-left:50px;
}