.post banner{
 width:30px;
 height:70px;
 }
.add_form{
margin: 0 auto;
margin-top: 100px;
margin-bottom: 100px;

}

.post_banner1{
 width:150%;
 height:300px;
 }
.edit-profile{
 margin-left:100px;
 }

.lnr lnr-menu{
margin-left:1000px;
}

.allstacks{
margin-left:50px;
}


.button {
  width:200px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
    background-color: white;
  color: black;
  border: 2px solid #008CBA;




}





