<html>
<head>
    <script  >
    function valuesender()
    {
     var t="";
     var a =document.getElementById("txt").innerHTML ;
     t+=a
     localStorage.setItem("textvalue",t);
     return false;
    }
</script>
</head>
<div class="container">
    <form   action="stack_detail.html">
        {% for n in name%}
        <div id="txt">

<ul><a onclick="valuesender()"    href="{% url 'accrancher:name'  %}"><li><h2 >{{n}}</h2></li></a></ul><br>

       </div>
{% endfor %}

    </form>


</div>
</body>


</html>




<body>






